<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if post %}
    {{ post.id }}
    {{ post.title }}
    {{ post.contents }} <br />
    <a href="../listGet">목록</a>
    {% if post.writer == request.user %}
    <a href="../update/{{ post.id }}">수정</a>
    <a href="../deleteGet/{{ post.id }}">삭제</a>
    {% endif %}
{% endif %}
<br />
<form action="/reply/create" method="post">
    {% csrf_token %}
    {{ replyForm }}
    <button>댓글달기</button>
</form>

</body>
</html>