
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if post %}
  {{ post.title }} <br />
  {{ post.contents }} <br />
    <a href="/board/listGet">목록</a>
    {% if request.user == post.writer %}
        <a href="/board/update/{{post.id}}">수정</a>
        <a href="/board/deleteGet/{{post.id}}">삭제</a>
    {% endif %}

    <form action="/reply/create/{{ post.id }}" method="post">
        {% csrf_token %}
        {{ replyForm }}
        <button>댓글 달기</button>
    </form>

    {% if post.reply_set %}
        {% for reply in post.reply_set.all %}
            {{ reply.contents }} <br />
        {% endfor %}
    {% endif %}
{% endif %}
</body>
</html>