
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if post %}
  {{ post.title }} <br />
  {{ post.contents }} <br />
    <a href="/board/list">목록</a>
    {% if request.user == post.writer %}
        <a href="/board/update/{{post.id}}">수정</a>
        <a href="/board/delete/{{post.id}}">삭제</a>
    {% endif %}

    <form action="/reply/create/{{ post.id }}" method="post">
        {% csrf_token %}
        {{ replyForm }}
        <button>댓글 달기</button>
    </form>

    {% if post.reply_set %}
        {% for reply in post.reply_set.all %}
            {{ reply.contents }}
            {% if reply.writer == request.user %}
                <a href="/reply/update/{{ reply.id }}/{{ post.id }}">수정</a>
                <a href="/reply/delete/{{ reply.id }}/{{ post.id }}">삭제</a>
            {% endif %}<br />
        {% endfor %}
    {% endif %}
{% endif %}
</body>
</html>